In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots

##Conhecendo os dados, verificando NaN e duplicados

In [ ]:
dados = pd.read_csv("/content/drive/MyDrive/Projeto_IC_Unicamp/dados/Coletas/Coleta_06-06-2021/Dados.csv")
dados.head()

   id  ... data_coleta
0   1  ...  2021-06-06
1   2  ...  2021-06-06
2   3  ...  2021-06-06
3   4  ...  2021-06-06
4   5  ...  2021-06-06

[5 rows x 24 columns]

In [ ]:
dados.tail()

        id  ... data_coleta
9484  9485  ...  2021-06-06
9485  9486  ...  2021-06-06
9486  9487  ...  2021-06-06
9487  9488  ...  2021-06-06
9488  9489  ...  2021-06-06

[5 rows x 24 columns]

In [ ]:
dados.shape

(9489, 24)

In [ ]:
dados.columns

Index(['id', 'link', 'Titulo_pagina', 'foto', 'nome_foto', 'numero_catalogo',
       'colecao_original', 'estado_colecao', 'filo', 'classe', 'ordem',
       'familia', 'genero', 'especie', 'nome', 'país', 'estado_provincia',
       'municipio', 'nome_coletor', 'era', 'sistema', 'series', 'estagio',
       'data_coleta'],
      dtype='object')

##Verificando NaN

In [ ]:
dados.isnull().sum()

id                  0
link                0
Titulo_pagina       0
foto                0
nome_foto           0
numero_catalogo     0
colecao_original    0
estado_colecao      0
filo                0
classe              0
ordem               0
familia             0
genero              0
especie             0
nome                0
país                0
estado_provincia    0
municipio           0
nome_coletor        0
era                 0
sistema             0
series              0
estagio             0
data_coleta         0
dtype: int64

##Verificando duplicados

In [ ]:
dados.duplicated().sum()

0

#Análise Exploratória

##Filo

In [ ]:
dados['filo'].value_counts()

Mollusca         3512
Foraminifera     1717
Bryozoa          1058
Arthropoda        982
Echinodermata     766
Cnidaria          731
Chordata          253
Brachiopoda       170
Porifera          119
Não informado     114
Ichnotaxon         50
Annelida            8
Protista            7
Filicophyta         1
Hemichordata        1
Name: filo, dtype: int64

In [ ]:
dados['filo'].value_counts(normalize=True)*100

Mollusca         37.011276
Foraminifera     18.094636
Bryozoa          11.149752
Arthropoda       10.348825
Echinodermata     8.072505
Cnidaria          7.703657
Chordata          2.666245
Brachiopoda       1.791548
Porifera          1.254084
Não informado     1.201391
Ichnotaxon        0.526926
Annelida          0.084308
Protista          0.073770
Filicophyta       0.010539
Hemichordata      0.010539
Name: filo, dtype: float64

In [ ]:
molusca = dados[dados['filo'] == "Mollusca"]

In [ ]:
molusca['classe'].value_counts()

Gastropoda         1780
Bivalvia           1188
Cephalopoda         524
Tentaculitoidea      12
Scaphopoda            5
Amphineura            3
Name: classe, dtype: int64

In [ ]:
dados['era'].value_counts()

Mésozoïque       4746
Cénozoïque       3800
Paléozoïque       496
Não informado     434
Actuel             12
Précambrien         1
Name: era, dtype: int64

In [ ]:
dados['era'].value_counts(normalize=True)*100

Mésozoïque       50.015808
Cénozoïque       40.046369
Paléozoïque       5.227105
Não informado     4.573717
Actuel            0.126462
Précambrien       0.010539
Name: era, dtype: float64

In [ ]:
dados['estado_colecao'].value_counts()

complet          5091
incomplet        3489
Não informado     904
détruit             5
Name: estado_colecao, dtype: int64

In [ ]:
dados['estado_colecao'].value_counts(normalize=True)*100

complet          53.651597
incomplet        36.768890
Não informado     9.526821
détruit           0.052693
Name: estado_colecao, dtype: float64

In [ ]:
dados['país'].value_counts()

                      France              6542
                      Madagascar           280
                      Algérie              243
                      Niger                206
                      Italie               205
                                          ...
                      Rép. dominicaine       1
                      Pays de Galles         1
                      Panama                 1
                      Anti-Liban             1
                      Amérique               1
Name: país, Length: 83, dtype: int64

In [ ]:
dados['país'].value_counts(normalize=True)*100

                      France              68.942987
                      Madagascar           2.950785
                      Algérie              2.560860
                      Niger                2.170935
                      Italie               2.160396
                                            ...
                      Rép. dominicaine     0.010539
                      Pays de Galles       0.010539
                      Panama               0.010539
                      Anti-Liban           0.010539
                      Amérique             0.010539
Name: país, Length: 83, dtype: float64